# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
*.ipch
*.exp
*.ilk
*.log
*.recipe
*.tlog
*.pdb
*.vspscc
*.user
*.vssscc
*.idb
*.res
*.db
*.json
/DDrawGamePostEffect_MT_SIMD/Game/x64
/DDrawGamePostEffect_MT_SIMD/Game/.vs
/CrtCheckMemory/TextGameFramework/x64
/CrtCheckMemory/TextGameFramework/.vs
/CreateDump/x64
/CreateDump/.vs
/ASAN/x64
/ASAN/.vs
/AppVerifier/x64
/AppVerifier/.vs
/CrtCheckMemory/TextGameFramework/x64
/CrtCheckMemory/TextGameFramework/.vs
/CrtHeapDiff/x64
/CrtHeapDiff/.vs
/HeapCorruption/x64
/HeapCorruption/.vs
/RemoteDebugging/SampleProject/x64
/RemoteDebugging/SampleProject/.vs
/HeapCorruption/x64
/HeapCorruption/.vs
/SampleWindbgScript/x64
/SampleWindbgScript/.vs
/RemoteDebugging/SampleProject/x64
/RemoteDebugging/SampleProject/.vs
